// colors
$red: #FF7CA3
$base: #FAFAFA
$darkBg1: #252836
$darkBg2: #1F1D2B
$darkLine: #393C49
$formBg: #2D303E
$primary: #EA7C69
$secondary: #9288E0
$textLighter: #E0E6E9
$textGray:#889898
$textLight: #ABBBC2
$white: #FFF
$blue: #65B0F6
$green: #50D1AA
$orange: #FFB572
$purple: #9290FE
$red: #FF7CA3
